# NumPy Homework

# A

## 1) import numpy library with his usual alias!

In [2]:
import numpy as np #
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

## 2) Create a random matrix, which has 2 columns and 20 rows. With this we will then create a pandas DataFrame!

In [39]:
ratings_values = np.random.random(size=(20,2))*10 #
ratings = pd.DataFrame(ratings_values, columns=['Price', 'Quality'])
print(ratings_values)
print()
display(ratings)

[[2.78552578 6.76237114]
 [1.29556217 2.19169858]
 [1.96261895 7.39637869]
 [8.38245171 0.43291589]
 [9.35056461 0.83823809]
 [9.87690607 4.16852852]
 [7.43611059 3.19219124]
 [9.24183951 2.6868886 ]
 [5.28148368 8.62876148]
 [4.73433137 7.5720969 ]
 [6.00970929 4.03913885]
 [1.54357297 5.17878211]
 [3.54737176 7.65847087]
 [6.09444132 4.06777339]
 [0.56124415 1.31552781]
 [4.68965077 5.50203109]
 [1.32903723 2.62044216]
 [4.71384363 7.22338812]
 [1.31055461 6.60647855]
 [5.41498278 2.09583631]]

       Price   Quality
0   2.785526  6.762371
1   1.295562  2.191699
2   1.962619  7.396379
3   8.382452  0.432916
4   9.350565  0.838238
5   9.876906  4.168529
6   7.436111  3.192191
7   9.241840  2.686889
8   5.281484  8.628761
9   4.734331  7.572097
10  6.009709  4.039139
11  1.543573  5.178782
12  3.547372  7.658471
13  6.094441  4.067773
14  0.561244  1.315528
15  4.689651  5.502031
16  1.329037  2.620442
17  4.713844  7.223388
18  1.310555  6.606479
19  5.414983  2.095836

## 3) Create two vectors from the previous DataFrame. We will use the same values from the previous DataFrame which we already have been created. The first one contains the evaluations which show the customer satisfaction for the prices, and the second one contains for the quality. How big how good! We will then print the vectors.

##### Hint: pd.DataFrame['column_name'] gives us a Series from a DataFrame. We can use it with the same functions as DataFrames.

In [40]:
price =  ratings ["Price"] #
quality = ratings ["Quality"] #

print('Price: ', price)
print('Quality: ', quality)

Price:  0     2.785526
1     1.295562
2     1.962619
3     8.382452
4     9.350565
5     9.876906
6     7.436111
7     9.241840
8     5.281484
9     4.734331
10    6.009709
11    1.543573
12    3.547372
13    6.094441
14    0.561244
15    4.689651
16    1.329037
17    4.713844
18    1.310555
19    5.414983
Name: Price, dtype: float64
Quality:  0     6.762371
1     2.191699
2     7.396379
3     0.432916
4     0.838238
5     4.168529
6     3.192191
7     2.686889
8     8.628761
9     7.572097
10    4.039139
11    5.178782
12    7.658471
13    4.067773
14    1.315528
15    5.502031
16    2.620442
17    7.223388
18    6.606479
19    2.095836
Name: Quality, dtype: float64

## 4) Find the total numbers of visitors.

In [55]:
visitors_count = len(ratings) #
print('Number of visitors:', visitors_count)

Number of visitors: 20

## 5) Find and print the average ratings for each column using numpy functions (we will find the mean and median values)

In [44]:
print('The mean of the price ratings: ', ratings["Price"].mean()) #
print('The median of the price ratings', ratings["Price"].median()) #

print('The mean of the quality ratings: ', ratings["Quality"].mean()) #
print('The median of the quality ratings',ratings["Quality"].median()) #

The mean of the price ratings:  4.778090147055228
The median of the price ratings 4.724087501230804
The mean of the quality ratings:  4.508896919301987
The median of the quality ratings 4.118150951966774

## 6) Create a new vector which is the average of the ratings of two columns, price and quality. We will name it as mean_ratings. It will show the average rating for each customer. Round elements of the array to the nearest integer.

In [106]:
mean_ratings = np.array(np.rint(np.mean(np.array([ratings.Price,ratings.Quality]), axis=0))) #
print(mean_ratings)

[5. 2. 5. 4. 5. 7. 5. 6. 7. 6. 5. 3. 6. 5. 1. 5. 2. 6. 4. 4.]

## 7) Create ratings_values matrix again with the all three vectors. Average ratings, which has just been calculated in the previous exercise, should be the third column of the new matrix. All values in the matrix should be integer! New matrix should have 20 rows and 3 columns!

In [113]:
# new_ratings_values =  np.concatenate([ratings, mean_ratings], axis=0) #
new_ratings_values = (pd.DataFrame({"Price" : ratings.Price, "Quality": ratings.Quality,"Mean_Ratings" : np.array(mean_ratings) })).values
print(new_ratings_values)
print(type(new_ratings_values))
print(new_ratings_values.shape)

[[2.78552578 6.76237114 5.        ]
 [1.29556217 2.19169858 2.        ]
 [1.96261895 7.39637869 5.        ]
 [8.38245171 0.43291589 4.        ]
 [9.35056461 0.83823809 5.        ]
 [9.87690607 4.16852852 7.        ]
 [7.43611059 3.19219124 5.        ]
 [9.24183951 2.6868886  6.        ]
 [5.28148368 8.62876148 7.        ]
 [4.73433137 7.5720969  6.        ]
 [6.00970929 4.03913885 5.        ]
 [1.54357297 5.17878211 3.        ]
 [3.54737176 7.65847087 6.        ]
 [6.09444132 4.06777339 5.        ]
 [0.56124415 1.31552781 1.        ]
 [4.68965077 5.50203109 5.        ]
 [1.32903723 2.62044216 2.        ]
 [4.71384363 7.22338812 6.        ]
 [1.31055461 6.60647855 4.        ]
 [5.41498278 2.09583631 4.        ]]
<class 'numpy.ndarray'>
(20, 3)

In [114]:
new_ratings = pd.DataFrame(new_ratings_values, columns=['Price', 'Quality', 'Average'])
display(new_ratings)

       Price   Quality  Average
0   2.785526  6.762371      5.0
1   1.295562  2.191699      2.0
2   1.962619  7.396379      5.0
3   8.382452  0.432916      4.0
4   9.350565  0.838238      5.0
5   9.876906  4.168529      7.0
6   7.436111  3.192191      5.0
7   9.241840  2.686889      6.0
8   5.281484  8.628761      7.0
9   4.734331  7.572097      6.0
10  6.009709  4.039139      5.0
11  1.543573  5.178782      3.0
12  3.547372  7.658471      6.0
13  6.094441  4.067773      5.0
14  0.561244  1.315528      1.0
15  4.689651  5.502031      5.0
16  1.329037  2.620442      2.0
17  4.713844  7.223388      6.0
18  1.310555  6.606479      4.0
19  5.414983  2.095836      4.0

# B

## 1) Create *Mean Absolute Error (MAE)* function

\begin{equation}
MAE=\frac{1}{n}\sum_{i=1}^n|target_i - predictions_i|
\end{equation}

In [170]:
def mae(target, predictions):
    return abs(target - predictions).mean() #

## 2) Create two arrays each of them has $100$ observations. We will use them for *target* and *predictions* labelling. The target array should consist only $0$ or $1$ values which are random created, while predictions only integer $1$. The target array should have a *binomial distribution* which gives $1$ with $60$% probability.

In [195]:
# target = np.random.randint(0, 2, (100,)) # 
target = np.random.binomial(1, 0.6, 100)
predictions = np.ones(100, dtype = int) # 

print(target)
print()
print(predictions)

[1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 0
 1 1 1 0 1 0 0 0 1 1 1 0 0 0 1 0 1 1 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0
 0 0 1 1 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 1 1 0 1 1]

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## 3) Find the *MAE* with your mae function

In [196]:
mean_absolute_error = mae(target,predictions) #

## 4)  Run the code in this step. Observe the printed outputs. Try to run the codes a few times from step 2. What do you think about the results? Give your thoughts shortly with 3 - 5 sentences about why two outputs are the same. What is your conclusion?

In [198]:
print(1-np.mean(target))

print(mean_absolute_error)

0.41000000000000003
0.41

 ### While the first one calculates exact result of target's average from 1, the second one gives a measure of the average size of the mistakes in a collection of predictions, without taking their direction into account. It is measured as the average absolute difference between the predicted values and the actual values.

## 5) We have always chosen $1$ in our predictions, but the actual values at the target have changed each time. How likely is it that we got it right each time, and what determines this?

### ????

# C

## 1) Create a Pythagorean function using *np.dot()* to calculate vector length

$$v = [x, y] ==> len_v = \sqrt{x^2+y^2}$$

In [136]:
def pythagorean_length(vector):
    return np.dot(vector,vector)**0.5 #

## 2) Calculate the length of the given vector using your *pythagorean_length* function and check your result comparing with the given

In [137]:
a = np.array([3, 4])

print(pythagorean_length(a)) # 

print(((a[0] ** 2) + (a[1] ** 2)) ** 0.5)

5.0
5.0

## 3) Find the shortest distance (Euclidean distance) using *np.dot()* between the given two vectors and compare the results to check

In [133]:
a = np.array([5, 6])
b = np.array([1, 3])

d = a-b
c = np.sqrt(np.dot(d.T, d)) #
print('The distance between a and b is', c)

from scipy.spatial import distance
print('The distance between a and b should be', distance.euclidean(a, b))

The distance between a and b is 5.0
The distance between a and b should be 5.0

# D - Obfuscating Data

It is best to obfuscate data by multiplying the numerical features (they can be seen as the matrix $X$) by an invertible matrix $P$. 

$$
X' = X \times P
$$

Try to do that and check how the features' values will look like after the transformation. By the way, the invertible property is important here so make sure that $P$ is indeed invertible.

## 1) Protect customers' personal data. It is necessary to develop a data transformation algorithm that makes it difficult to recover personal information in case the data falls into the wrong hands. This is called data masking or data obfuscation. However, the data must be protected in such a way that the quality of the machine learning models does not suffer. You don't need to choose the best model, just prove that the algorithm works correctly.

In [209]:
# pd.DataFrame
columns = ['gender', 'age', 'salary', 'family_members']
data = np.array([np.random.choice([0, 1], size=1000), 
                 np.random.randint(18, 100, 1000), 
                 np.random.normal(25000, 5000, 1000).astype(int), 
                 np.random.randint(0, 10, 1000)
                ])

personal_data = pd.DataFrame(data.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990       0   76   27607               1
991       0   29   25293               3
992       0   89   29030               0
993       1   73   24670               2
994       1   66   22208               3
995       0   77   29192               0
996       1   69   19250               9
997       0   18   32442               3
998       1   53   23767               9
999       0   40   29950               1

In [215]:
# X = personal_data.values #

In [224]:
# P = np.random.randint(0,10,(1000,4)) # 
# X2 = X * P # 
P = np.random.randint(0,10,(1000,1000)) #
X2 = data.dot(P) #

**(Hint:** https://numpy.org/doc/stable/reference/random/generator.html **)**

In [239]:
secured_data = pd.DataFrame(X2.T, columns=columns) #

In [240]:
display(secured_data.tail(10)) #

     gender     age     salary  family_members
990    2295  258802  112804195           19165
991    2454  274817  119950158           20419
992    2358  261950  115522809           20037
993    2291  252758  111630722           19336
994    2375  254960  112785318           19345
995    2321  257453  114875040           19452
996    2378  263583  114330750           18901
997    2294  251888  113439285           19524
998    2264  249010  109099349           18735
999    2459  265254  117349382           20277

## 2) Can you guess the customers' ages or income after the transformation?

In [241]:
# Secure Data
pd.DataFrame(secured_data).describe() # < write your code here >

       gender       age       salary  family_members
count 1000.00   1000.00      1000.00         1000.00
mean  2324.20 256190.46 112818950.66        19398.95
std     65.04   5723.98   2366723.97          481.02
min   2136.00 237507.00 105215781.00        17785.00
25%   2280.00 252557.50 111208748.00        19066.25
50%   2323.00 256181.00 112768820.00        19399.00
75%   2370.25 260208.25 114437284.00        19708.25
max   2518.00 275460.00 120421076.00        20816.00

#### write your conlusion here
It's not possible to guess the ages or income after the transformation√ß

## 3) Can you recover the original data from $X'$ if you know $P$? Try to check that with calculations by moving $P$ from the right side of the formula above to the left one. The rules of matrix multiplication are helpful here.

In [248]:
renewed_data = P.dot(X2.T) # < write your code here >

In [ ]:
# Printing all three cases for a few customers

In [249]:
# Original Data
personal_data.tail(10)

     gender  age  salary  family_members
990       0   76   27607               1
991       0   29   25293               3
992       0   89   29030               0
993       1   73   24670               2
994       1   66   22208               3
995       0   77   29192               0
996       1   69   19250               9
997       0   18   32442               3
998       1   53   23767               9
999       0   40   29950               1

In [250]:
# Secure Data
pd.DataFrame(secured_data).tail(10)  # < write your code here >

     gender     age     salary  family_members
990    2295  258802  112804195           19165
991    2454  274817  119950158           20419
992    2358  261950  115522809           20037
993    2291  252758  111630722           19336
994    2375  254960  112785318           19345
995    2321  257453  114875040           19452
996    2378  263583  114330750           18901
997    2294  251888  113439285           19524
998    2264  249010  109099349           18735
999    2459  265254  117349382           20277

In [251]:
# Recovered Data
pd.set_option('display.float_format', '{:.2f}'.format)
pd.DataFrame(renewed_data).astype('int').tail(10) #

            0           1             2         3
990  10580366  1166899973  513640726928  88343576
991  10438704  1150826672  506936677352  87187188
992  10158104  1120640106  493566479113  84819284
993  10377120  1144266405  503700716505  86555473
994  10503246  1158001133  509912316630  87652229
995  10760699  1186686483  522508013143  89805356
996  10312442  1135509071  499925860483  85974732
997  10183051  1122471869  494458712565  84980375
998  10416625  1147908114  505531906724  86938505
999  10919292  1204359866  530408873412  91145772

#### It's possible to recover data from secured data using dot method in reverse.

---

# USEFUL INFORMATIONS

##### Matrices and Matrix Operations

- **A matrix** is a rectangular numeric table or two-dimensional array consisting of m rows and n columns.
- **A transpose of the matrix** is a matrix operation when its rows become columns with the same numbers.- **Dummy code** is a simple code that doesn't mean anything.
- **An identity matrix** is a square matrix with ones on the main diagonal and zeros elsewhere.
- **An inverse matrix** for a square matrix A is a matrix A with a superscript -1 whose product with A is equal to the identity matrix.
- **Invertible matrices** are matrices that have an inverse.
- **Non-invertible** are matrices that don't have an inverse.

# Properties of Matrices

Matrices have many properties in Linear Algebra. A few of them are listed here which can help with the analytical proof in this project.

<table>
<tr>
<td>Distributivity</td><td>$A(B+C)=AB+AC$</td>
</tr>
<tr>
<td>Non-commutativity</td><td>$AB \neq BA$</td>
</tr>
<tr>
<td>Associative property of multiplication</td><td>$(AB)C = A(BC)$</td>
</tr>
<tr>
<td>Multiplicative identity property</td><td>$IA = AI = A$</td>
</tr>
<tr>
<td></td><td>$A^{-1}A = AA^{-1} = I$
</td>
</tr>    
<tr>
<td></td><td>$(AB)^{-1} = B^{-1}A^{-1}$</td>
</tr>    
<tr>
<td>Reversivity of the transpose of a product of matrices,</td><td>$(AB)^T = B^TA^T$</td>
</tr>    
</table>

---